version: "3.8"

services:
  pact-broker:
    image: pactfoundation/pact-broker
    container_name: pact-broker
    ports:
      - "9292:9292"
    environment:
      PACT_BROKER_DATABASE_ADAPTER: "sqlite"
      PACT_BROKER_DATABASE_NAME: "pact_broker.sqlite"
      PACT_BROKER_LOG_LEVEL: "INFO"
    volumes:
      - ./pact-broker-data:/var/pact_broker